body {
    height: 100vh;
    background-image: url('img/black-hex-pattern-173782.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    /*font-family: "Cascadia Code", "JetBrains Mono", monospace;*/
    font-family: "Cascadia Code", "맑은 고딕";
    font-size: 1.05em;
}